body {
  overflow-x: hidden;
}

.section {
  max-width: 1440px;
  margin: 0 auto;
  height: 1024px;
}
.link {
  padding: 40px 71px 20px 50px;
}

.header__burger-btn {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  position: fixed;
  left: 90%;
  top: 20px;
  display: none;
}

.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background: #000;
  transition: transform 0.5s, opacity 0.5s;
}
.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.link img {
  width: 98px;
}

.sidebar {
  border-right: 1px solid #d9d9d9;
  height: 100%;
}
.list,
.nav-item {
  width: 100%;
}

.list {
  padding: 60px 20px 0;
  border-top: 1px solid #d9d9d9;
}

.form-select {
  cursor: pointer;
}

.nav-item {
  border-radius: 5px;
  height: 40px;
}

.nav-item:hover,
.nav-item:active,
.nav-item:focus {
  background-color: #0d6efd;
}

.nav-item:hover svg > path,
.nav-item:hover span {
  fill: #fff;
  color: #fff;
}

.nav-item span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #052c65;
  display: block !important;
}

.nav-link {
  display: flex;
  height: 40px;
  align-items: center;
}

.dropdown {
  padding: 20px 50px 40px 20px;
  border-top: 1px solid #d9d9d9;
  width: 100%;
}

.human-names {
  color: #052c65;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 16px;
  display: block !important;
}
.log-out {
  width: 178px !important;
}

.row > * {
  padding: 0;
}

.main {
  padding: 100px 0 0 60px;
  width: 1221px;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 46.88px;
  color: #052c65;
  margin-bottom: 60px;
}

.button {
  border: 1px solid #6c757d;
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.4571428596973419px;
  width: 100px;
  height: 37px;
  margin-right: 20px;
}

.btn_active,
.button:hover {
  background-color: #6c757d;
  color: #fff;
}
.main__date__periods,
.main__date__period {
  display: flex;
  flex-wrap: wrap;
}
.main__date__periods {
  margin-bottom: 140px;
}
.main__date {
  display: flex;
  align-items: center;
}

.main__date p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.4571428596973419px;
  color: #000000;
  margin-right: 5px;
}
.main__date input {
  border: none;
  padding: 0 12px;
  width: 63px;
  margin-right: 15px;
}
.main__date input::placeholder {
  text-decoration: 1px solid #6c757d;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.4571428596973419px;
  color: #6c757d;
}

.budget {
  display: flex;
  justify-content: space-between;
  padding: 0 94px 173px 24px;
}

.budget .income,
.budget .expenses {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.income h3,
.expenses h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 32.81px;
  color: #290661;
  margin-bottom: 20px;
}

.line {
  border-right: 1px solid #d9d9d9;
  height: 450px;
  margin-top: 57px;
}

.dropdown-toggle {
  color: #052c65;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
}
.dropdown-menu.show {
  width: 100%;
  padding: 0;
  margin: 0;
}
.dropdown-menu.show li a {
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #0d6efd;
  padding: 12px 16px 0;
}
.dropdown-menu.show li a:hover {
  background-color: #0d6efd;
  color: #fff;
}

.myChart_income,
.myChart_expenses {
  width: 100%;
}
#myChart_income, #myChart_expenses{
  width: 437px;
  height: 437px;
}


.balance {
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.balance p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  color: #052c65;
  margin: 0;
  margin-right: 10px;
}
.balance span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  color: #0d6efd;
}

.form__error{
  color: red;
  font-size: 14px;
  font-weight: 500;
  display: none;
  padding-left: 12px;
}
